@{
    ViewData["Title"] = "About Us";

}

<div class="text-center">
    <h1 class="display-4">Meet the Team</h1>
    <div class="box">
        <img src ="/about-page-img(s)/mau.jpg" class="images"></img>
        <h2>Maurice Gabriel Gagarin</h2>
        <p class="desc">Leader | Programmer</p>
    </div>
    <div class="box">
        <h3>image</h3>
        <h2>Marlon Christopher Arciaga</h2>
        <p class="desc">Member | Programmer</p>
    </div>
    <div class="box">    
        <h3>image</h3>
        <h2>Miguel Carlitos Borillo</h2>
        <p class="desc">Member | Designer</p>
    </div>
    <div class="box">
        <img src="/about-page-img(s)/jose.png" class="images"></img>
        <h2>Jose Manuel Peñaflor</h2>
        <p class="desc">Member | Designer</p>
    </div>
</div>



