@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/landing.css" />
</head>
<div class="container-l">
        <section class="content">
            <h1 class="title">Bookio</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at ipsum volutpat, viverra nisl vitae, mollis magna. Donec a ligula et enim sollicitudin laoreet nec et augue. Mauris vestibulum arcu leo, quis commodo arcu pharetra id. Praesent congue mi eget nibh ultrices consectetur.</p>
            <a class = "create-l" asp-area="" asp-controller="Blogs" asp-action="Create">Create</a>
        </section>
</div>


