html {
  font-size: 14px;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;

    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {

}

body {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    background-image: linear-gradient(to right, rgb(60, 144, 144), rgb(145, 213, 145));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.back, .create-btn,.create, .details{ 
  background-color:lightgray;
  font-size:18px;
  padding:5px 15px;
  color:black;
  margin-left:5px;
  border-radius:50px;
  border:none;

}
.back:hover, .create-btn:hover, .details:hover, .create:hover {
        background-color: gray;
}
.details-icon,.plus,.back-icon{
    position: relative;
    top: 5px;
}
td {
    word-break: break-all;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.col-sm-10 {
    word-break: break-word;
}

table {
    background-color: rgb(36, 36, 36);
    border-radius: 15px;
}
th,td{
    color:white;
}
.create-header, .details-header {
    border-radius:15px;
    box-shadow:5px 10px 5px gray;
    background-color: lightgray;
    padding: 5px 10px;
    color: black;
    font-family: 'Times New Roman';
    font-weight: bold;
    width: max-content;

}
.navbar {
    background-color: rgb(36, 36, 36);
    width: 100%;
    white-space: nowrap;
    height:70px;
    padding: 0;
    display:flex;
    justify-content:flex-start;
    
}

.navbar a {
    font-size:20px;
    padding:10px 20px;
    color: white;
    text-decoration: none;
    

}
    .navbar a:hover {
        background-color: gray;
        border-radius:50px;
        text-decoration: underline;
        transition:1s;
    }
.display-4{
    padding: 25px 10px;
    font-weight:600;
    font-family:Georgia;
}
.box {
    border-top: 2px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 10px;
}
.images{
    border-radius:100px;
    box-shadow: 0 10px 20px 10px gray;
    border: 3px solid white;
    width:200px;
    height:200px;
}
.desc {
    font-size:20px;
    font-weight: 500;
}



